Django
pip-tools
djangorestframework
django-autoslug
django-enumfields
django-environ
django-parler-rest
# dev requirements:
autoflake
autopep8
coveralls
flake8
isort
pytest-cov
pytest-django
pytest-factoryboy
pip-tools
psycopg2
