Django<1.11,<2.0
pip-tools
djangorestframework<3.5
django-autoslug
django-enumfields
django-environ
django-parler-rest
django-easy-select2
# dev requirements:
autoflake
autopep8
coveralls
flake8
isort
pytest-cov
pytest-django
pytest-factoryboy
pip-tools
psycopg2
django-filter
djangorestframework-gis
